name: Jira Integration
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *' # Runs every hour

jobs:
  run-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Run Jira Integration
        uses: port-labs/ocean-sail@v1
        with:
          type: jira
          port_client_id: ${{ secrets.PORT_CLIENT_ID }}
          port_client_secret: ${{ secrets.PORT_CLIENT_SECRET }}
          port_base_url: "https://api.port.io"
          config: |
            # ---------------------------------------------------------
            # 
            jira_host: "https://solomonron.atlassian.net"
            atlassian_user_email: "solomonron@gmail.com"
            # ---------------------------------------------------------
            
            atlassian_user_token: ${{ secrets.JIRA_API_TOKEN }}
            
            resources:
              - kind: issue
                selector:
                  query: "true"
                port:
                  entity:
                    mappings:
                      identifier: .key
                      title: .fields.summary
                      blueprint: '"jiraIssue"'
                      properties:
                        status: .fields.status.name
                        assignee: .fields.assignee.displayName
                        description: .fields.description
                        priority: .fields.priority.name
                        link: .self
                        created_at: .fields.created
                        updated_at: .fields.updated
                      
                      relations:
                        repository: .fields.components[].name
